<div class="dark-background">
  <div class="py-4">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <%# <div class="bg-white p-4 shadow rounded-4"> %>
          <h5 class="d-flex justify-content-end">Sign up</h5>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
            data: {turbo: false}) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first name" }%>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last name" }%>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="btn btn-form mb-4">
              <%= f.button :submit, "Sign up" %>
            </div>
            <%= link_to "Cancel", :back, class: "cancel_link"%>

            <%# Login with facebook  %>
            <%# <%= link_to "Register with Facebook", user_facebook_omniauth_authorize_path, method: :post,  data: { turbolinks: false }  %> %>
          <% end %>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>
