<h1>My bookings</h1>

<% @floaties.each do |floaty| %>
  <h3><%= floaty.title %></h3>
  <p><%= floaty.category %></p>
  <p><%= floaty.details %></p>
  <p><%= floaty.price %></p>
  <p><%= floaty.city %></p>
  <p><%= floaty.address %></p>
<% end %>
