<%# NAVBAR %>
<div class="container ">
  <% if @bookings.count > 0  %>
    <% @bookings.each do |booking| %>

      <h3><%= booking.start_date %></h3>
      <p><%= booking.end_date %></p>
    <% end %>
  <% else %>
    <p>You have no active bookings.</p>
  <% end %>
</div>


<% @floaties.each do |floaty| %>
        <%= link_to floaty_path(floaty), :class => "card-floaty" do %>
          <% if floaty.photos.attached? %>
            <div class="floaty-card" style="background-image: url(<%= cl_image_path floaty.photos.first.key %>)">
              <i class="fa-solid fa-heart text-light"></i>
            </div>
          <% else %>
            <div>
            <%= image_tag "rubber_duck.jpg", :class =>"floaty-card" %>
            </div>
          <% end %>
          <div class="d-flex justify-content-between align-itmes-center">
            <div>
              <h3><%= floaty.title %></h3>
              <p>Rent me in for €<%= floaty.price %></p>
            </div>
          </div>
        <% end %>
      <% end %>
