<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand navbar-logo" do %>
      <%= image_tag "logo_floaty.png" %>
    <% end %>
    <div class="navbar-search_form">
      <%= render "shared/search_form" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= new_floaty_path %>">Rent my floatie</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars dropbtn"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if user_signed_in? %>
              <li><%= link_to "Messages", bookings_path, class:"dropdown-item" %></li>
              <li><%= link_to "Notifications", bookings_path, class:"dropdown-item" %></li>
              <li><%= link_to "My reservations", bookings_path, class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Rent a new floaty", new_floaty_path, class:"dropdown-item" %></li>
              <li><%= link_to "Manage my floaties", my_floaties_path, class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Sign-out", destroy_user_session_path, data: {turbo_method: :delete}, class:"dropdown-item" %></li>
            <% else %>
              <li><%= link_to "Sign-in", bookings_path, class:"dropdown-item" %></li>
              <li><%= link_to "Login", new_user_session_path, class:"dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
