<div class="dark-blackground">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
          <h5 class="d-flex justify-content-end">Login</h5>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
            data: {turbo: false}) do |f| %>
            <div>
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <%# <div class="btn btn-flat-show"> %>
                <%= f.button :submit, "Log in", class: "btn btn-form mb-4" %>
              <%# </div> %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
