<div class="info-window">
  <div class="map-popup-img">
    <% if floaty.photos.attached? %>
      <%= cl_image_tag floaty.photos[0].key %>
    <% end %>
  </div>
  <p><strong><%= floaty.title %></strong></p>
  <p><%= floaty.details.first(100) %>...</p>
  <div class="price-reserve">
    <div>
      <p>€ <%= floaty.price %> /day</p>
    </div>
    <div>
      <p><%= link_to "Rent me!", floaty_path(floaty), class:"btn-show" %></p>
    </div>
  </div>
</div>
