<div class="container">

  <div class="card-grid">
    <% @floaties.each do |floaty| %>
      <%= link_to floaty_path(floaty), :class => "card-floaty" do %>
        <% if floaty.photo.attached? %>
          <%= cl_image_tag floaty.photo.key,  %>
        <% else %>
          <%= image_tag "rubber_duck.jpg" %>
        <% end %>
        <div class="d-flex justify-content-between align-itmes-center">
          <div>
            <h3><%= floaty.title %></h3>
            <p>Rent me in <%= floaty.city %> for $<%= floaty.price %></p>
height: 300, width: 400, crop: :fill
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
