

<div class="banner">
  <div class="container">
    <h1><strong>Floaties</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <%= form_with url: floaties_path, method: :get, class: "d-flex" do %>
      <div class="search-form-control form-group  flex-grow-1">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a floaty"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="card-grid-title">
    <h2>Float around...the world!</h2>
  </div>
  <div class="card-grid">
    <% @floaties.each do |floaty| %>
      <%= link_to floaty_path(floaty), :class => "card-floaty" do %>
        <% if floaty.photo.attached? %>
          <%= cl_image_tag floaty.photo.key %>
        <% else %>
          <%= image_tag "rubber_duck.jpg" %>
        <% end %>
        <div class="d-flex justify-content-between align-itmes-center">
          <div>
            <h3><%= floaty.title %></h3>
            <p>Rent me in !!!!!CITY<%= floaty.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div style="col-4 map width: 90%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
