
<div class="banner">
  <div class="container">
    <h1><strong>Floaties</strong>!</h1>
    <p>Search for anything that stays above water...</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="card-grid-title">
    <h2>Float around...the world!</h2>
  </div>
  <div class="card-grid">
    <% @floaties.each do |floaty| %>
      <%= link_to floaty_path(floaty), :class => "card-floaty" do %>
        <% if floaty.photo.attached? %>
          <%= cl_image_tag floaty.photo.key %>
        <% else %>
          <%= image_tag "rubber_duck.jpg" %>
        <% end %>
        <div class="d-flex justify-content-between align-itmes-center">
          <div>
            <h3><%= floaty.title %></h3>
            <p>Rent me in <%= floaty.city %> for $<%= floaty.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
