<%# NAVBAR %>
<div class="banner">
  <div class="container" >
    <h1><strong>Floaties</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>

    <%= form_with url: floaties_path, method: :get, class: "d-flex" do %>
      <div class="search-form-control form-group  flex-grow-1">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a floaty"
        %>
        <%= submit_tag "Search", class: "btn btn-flat"  %>
      </div>
    <% end %>
  </div>
</div>

<%# TOGLE MAP/LIST  %>
<div data-controller="togglemap">
  <div class="d-flex justify-content-center">
    <button class="btn btn-flat" data-action="togglemap#toggleTargets">See map</button>
  </div>


  <div data-togglemap-target="grid" class="container">
    <div class="card-grid-title">
      <h2>Float around... <%= params[:query] %></h2>
    </div>

    <div class="card-grid" id="awesome-stuff-here">
      <% @floaties.each do |floaty| %>
        <%= link_to floaty_path(floaty), :class => "card-floaty" do %>
          <% if floaty.photo.attached? %>
            <div class="floaty-card" style="background-image: url(<%= cl_image_path floaty.photo.key %>)">
              <i class="heart fa-regular fa-heart text-dark"></i>
            </div>
          <% else %>
            <%= image_tag "rubber_duck.jpg" %>
          <% end %>
          <div class="d-flex justify-content-between align-itmes-center">
            <div>
              <h3><%= floaty.title %></h3>
              <p>Rent me in !!!!!CITY<%= floaty.price %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# MAP %>
  <div class="invisible map-area" data-togglemap-target="map">
    <%= render "map" %>
  </div>
</div>
