<div>
  <%# NAVBAR %>
  <%= render "shared/navbar" %>
</div>
<div>

  <div class="container container_myfloaties">
    <%# Total of reservations %>
    <div class="col-12 d-flex align-items-center justify-content-between">
      <h4 class="list_count"><%= @floaties.count %> Listings</h4>
      <%= link_to "Add new floatie", new_floaty_path %>
    </div>


    <div class="row d-flex align-items-center justify-content-between">
      <%# HEADER %>
      <div class="col-2"></div>
      <div class="col-2 floaty_info_head ">TITLE</div>
      <div class="col-2 floaty_info_head ">STATUS</div>
      <div class="col-2 floaty_info_head ">LOCATION</div>
      <div class="col-2 floaty_info_head ">LAST MODIFIED</div>
      <%= link_to root_path do %>
        <div class="col-1 floaty_info_head ">EDIT</div>
      <% end %>
      <div class="col-12">
        <hr class="divider">
      </div>
    </div>

    <% @floaties.each do |floaty| %>
      <%# Retrive city name from coordinates %>
      <% lat = floaty.latitude %>
      <% lon = floaty.longitude %>
      <% lat_lon = "#{lat},#{lon}" %>
      <% response = Geocoder.search(lat_lon).first %>
      <% city =  response.city if response.present?%>

      <%# Myfloaty row %>
      <div class="row align-items-center d-flex justify-content-between">
        <div class="col-2">
          <div class="my_floaty-card">
            <% if floaty.photos.attached? %>
              <img src=" <%= cl_image_path floaty.photos.first.key %> " class="d-block w-100" alt="...">
            <% else %>
              No photo
            <% end %>
          </div>
        </div>
        <div class="col-2 floaty_info">
          <%= floaty.title %>
        </div>
        <div class="col-2 floaty_info">
          <% if floaty.listed == true %>
            <i class="fa-solid fa-location-dot green"></i><span>&nbsp&nbsp&nbspListed</span>
          <% else %>
            <i class="fa-solid fa-location-dot red"></i><span>&nbsp&nbsp&nbspUnlisted</span>
          <% end %>
        </div>
        <div class="col-2 floaty_info">
          <%= city %>
        </div>
        <div class="col-2 floaty_info">
          <%= floaty.updated_at.strftime("%b %d %Y")%>
        </div>
        <div class="col-1">
          <i class="fa-solid fa-pen-to-square"></i>
        </div>
      </div>

      <%# DIVIDER  %>
      <div class="col-12">
        <hr class="divider">
      </div>


    <% end %>

  </div>
</div>
