
<div class="row">
   <div class="col-1">
  </div>

  <div class="col-lg-6 mr-5">
      <div class="card-floaty-show d-flex justify-content-between align-items-center my-4 mt-5">
        <div>
          <h3><strong><%= @floaty.category %></strong> for <strong>€<%= @floaty.price %></strong> /day</h3>
          <p>Location:<%= @floaty.address %></p>
        </div>
        <div>
          <%= link_to "Book", new_floaty_booking_path(@floaty), class:"btn btn-flat" %>
        </div>
      </div>

    <div class="card-floaty-show">
      <% if @floaty.photos %>
        <% @floaty.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% else %>
        <%= image_tag "rubber_duck.jpg" %>
      <% end %>
    </div>

    <div class="card-floaty-show-text">
      <p>"<%= @floaty.details %>"</p>
    </div>

  </div>
   <div class="col-1">
  </div>

  <div class="col-4 map">
    <%= render "map_show" %>
  </div>
</div>

<%# Reviews %>
<h2><%= pluralize @floaty.reviews.size, "review" %></h2>

<%# ADD A REVIEW %>

<div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
    <% if @floaty.reviews.blank? %>
      Be the first to leave a review for <%= @floaty.title %>
    <% else %>
      <% @floaty.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% end %>
  </div>
 <%# #RENDER REVIEW FORM %>
</div>


<%= link_to "Back to List", floaties_path %>

<%# FOOTER %>
<%= render "shared/footer" %>
