<div class="container">
  <h1>Floaty: <%= @floaty.title %></h1>

  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "This floaty doesnt't have any bookings yet!" if @floaty.bookings.empty? %></em></small></span>
    <div>
      <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
        Booking
      </button>
      <%= link_to "BOOK", new_floaty_booking_path(@floaty), class: "btn btn-ghost-yellow"%>
    </div>
  </div>

  <div class="card-floaty-show">
      <%= image_tag "rubber_duck.jpg" %>
  </div>

  <div>
    <h3><%= @floaty.title %></h3>
    <p>Category:<%= @floaty.category %></p>
    <p>Details:<%= @floaty.details %></p>
    <p>$<%= @floaty.price %></p>
    <p>City:<%= @floaty.city %></p>
    <p>Address:<%= @floaty.address %></p>
    <%= link_to "BOOK", new_floaty_booking_path(@floaty), class: "btn btn-ghost-yellow"%>
  </div>

</div>
