
<div class="row">
   <div class="col-1">
  </div>

  <div class="col-lg-6 mr-5">

    <div class="card-floaty-show d-flex justify-content-between align-items-center my-4 mt-5">
      <div>
        <h3><%= @floaty.title %></h3>
        <p><strong><%= @floaty.category %></strong></p>
      </div>
      <span class="mb-2 d-block"><small><em class="text-muted"><%= "This floaty doesnt't have any bookings yet!" if @floaty.bookings.empty? %></em></small></span>
      <div>
        <%= link_to "Book", new_floaty_booking_path(@floaty), class:"btn btn-flat" %>
      </div>
    </div>

    <div class="card-floaty-show">
        <%= image_tag "rubber_duck.jpg" %>
    </div>

    <div class="card-floaty-show-text">
      <div class="d-flex justify-content-between">
        <h3><%= @floaty.title %></h3>
        <h3>$<%= @floaty.price %></h3>
      </div>
      <div>
        <p>City: <strong><%= @floaty.city %></strong></p>
        <p>Address: <strong><%= @floaty.address %></strong></p>
        <p>Category: <strong><%= @floaty.category %></strong></p>
        <p>Details: <strong><%= @floaty.details %></strong></p>
      </div>
    </div>
  </div>

   <div class="col-1">
  </div>

  <div class="col-4 map">
    <div style="col-4 map width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
